<a href="https://colab.research.google.com/github/Kiran-Pokhrel-91/Data/blob/main/Imputing_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Six Important Ways of Imputing Missing Values <br>
You can impute missing values using machine learning model which is known as data imputaion and is commonly used in data preprocessing to handle missing or incomoplete data.Some methods are as follows:- <br>
1. **Simple Imputatuin technique**
    - Mean / Median Imputation
    - Mode Imputation
2. **K-Nearest Neighbors(KNN)**
3. **Regression Imputation**
4. **Decission Tree and Random Forest**
5. **Advance Technique:**
    - Multiple Imputation by Chain Equation (MICE)
    - Deep Learning Methods
6. **Time-Series Specific Method** <br>

It is important to choose right method based on tyopes of data, pattern of missingness and amount of missing data.

# Simple Imputation

In [ ]:
import pandas as pd
import seaborn as sns

data = sns.load_dataset('titanic')
print(data.isnull().sum().sort_values(ascending=False))

deck           688
age            177
embarked         2
embark_town      2
sex              0
pclass           0
survived         0
fare             0
parch            0
sibsp            0
class            0
adult_male       0
who              0
alive            0
alone            0
dtype: int64

In [ ]:
data = (
    data.assign(
        age = data['age'].fillna(data['age'].mean()),
        embarked = data['embarked'].fillna(data['embarked'].mode()[0]),
        embark_town = data['embark_town'].fillna(data['embark_town'].mode()[0])
    )
    .drop(columns='deck')
)

In [ ]:
print(data.isnull().sum().sort_values(ascending=False))

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

# K-Nearest Neighbour
It works by finding most similar datapoints to one with based on other available features

In [ ]:
data1=sns.load_dataset('titanic')
from sklearn.impute import KNNImputer

# Calling KNN imputer with neighbours=4
imputer = KNNImputer(n_neighbors=4)

# Imputing missing values
data1['age'] = imputer.fit_transform(data1[['age']])

data1.isnull().sum().sort_values(ascending=False)

deck           688
embarked         2
embark_town      2
age              0
survived         0
pclass           0
sex              0
fare             0
parch            0
sibsp            0
class            0
adult_male       0
who              0
alive            0
alone            0
dtype: int64

# Note:-
As we know that machine learning works on numeric values so we can encode the catogerical values to the values using `LabelEncoder`

In [23]:
from sklearn.preprocessing import LabelEncoder
edata = sns.load_dataset('titanic')

cols_to_encode =['sex','embarked','who','deck','class','embark_town','alive']

label_encoder = {}

for col in cols_to_encode:
    le = LabelEncoder()
    edata[col] = le.fit_transform(edata[col])
    label_encoder[col] = le